.container {
    padding: 12px 30px;
    color: white;
    text-transform: uppercase;
    letter-spacing: .2rem;
    font-size: 0.7em;
    background-color: transparent;
    border: 2px solid white;
    cursor: pointer;
    transition: 0.2s;
}

.container:hover {
    background-color: white;
    color: gray;
}