.container {
    display: flex;
}

.container:nth-child(2n) {
    flex-direction: row-reverse;
}

.image, .info {
    width: 50%;
    height: 526px;
    text-align: center;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

.icon {
    width: fit-content;
}

.image {
    background-repeat: no-repeat;
    background-size: cover;
}

.info h2 {
    margin-top: 30px;
}

.separator {
    margin-bottom: 10px;
    width: 40px;
    height: 1px;
    background-color: #AAA;
}

.info p {
    width: 300px;
    color: #666;
    font-weight: 500;
}

.info button {
    text-transform: uppercase;
    letter-spacing: .2rem;
    font-size: 0.7em;
    color: #666;
    background-color: transparent;
    border: none;
    cursor: pointer;
    transition: 0.2s;
}

.info button:hover {
    color: black;
}

@media screen and (max-width: 920px) {
    .info p {
        width: calc(100% - 10%);
        margin: 10px 5%;
    }
  }