@import url('https://fonts.googleapis.com/css2?family=Nunito:wght@400;500;700&display=swap');

body {
  margin: 0;
  font-family: 'Nunito', sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}

.eapps-widget-toolbar-panel, .eapps-widget-toolbar-panel-share, .eapps-widget-toolbar-panel-only-you, .eapps-link, .eapps-remove-link {
  display: none !important;
  opacity: 0 !important;
  color: white !important;
  background-color: white !important;
}

.eapps-instagram-feed-container {
  width: 50% !important;
  margin: 50px auto;
}